.carousel-item img {
    max-height: 400px; /* Slightly larger height */
    width: auto;
    object-fit: cover;
}
.carousel-item, .carousel-inner {
    height: 400px;
}
.navbar-brand, .nav-link {
    color: white !important;
}

.dropdown {
    text-align: center;
    margin-top: 20px;
}